html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.article {
    margin: auto;
    text-align: center;
    max-width: 1000px;
    font: 16px/1.6 "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    background-color: #d6d6d678;
    box-shadow: 5px 5px 5px 5px rgb(163, 163, 163);
    padding-block-end: 10px;
}

.article__header {
    color: rgb(38, 15, 210);
    background-color: #9e9e9e78;
    padding: 10px 10px;
}


