html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.navList {
    width: 400px;
    list-style-type: none;
    text-align: center;
}

.navList__Element {
    border-bottom: 1px solid #629fea;
    border-color: #629fea;
    max-width: 400px;
    margin: 20px 0;
    letter-spacing: 0.2em;
}

.nav__link {
    color: rgb(15, 162, 224);
    text-decoration: none;
}

.nav__link:visited {
    color: rgb(0, 40, 151);
}

.nav__link:hover {
    color: rgb(0, 13, 255);
    border-bottom: 2px solid;
    outline: none;
}